/****************** 首页商品 *****************/
.products-item{
  width: 46.9%;
  height: 100px;
  padding-right: 2.9%;
  border-right: 1px solid #161616;
  border-bottom: 1px solid #161616;
  background: #292C35;
  float: left;
}
.products-item-even{
  width: 46.9%;
  height: 100px;
  border-bottom: 1px solid #161616;
  background: #292C35;
  padding-left: 2.9%;
  float: left;
}
.product-item-text{
  width: 50%;
  height: 70px;
  color: #ffffff;
  margin-top: 15px;
  float: left;
  text-align: left;
}
.product-item-text p{
  height: 43px;
  font-size: 15px;
  margin-bottom: 5px;
  display: -webkit-box;/*作为弹性伸缩盒子模型显示*/
  -webkit-line-clamp: 2; /*显示的行数；如果要设置2行加...则设置为2*/
  overflow: hidden; /*超出的文本隐藏*/
  text-overflow: ellipsis; /* 溢出用省略号*/
  -webkit-box-orient: vertical;
}
.product-item-text span{
  color: #B58024;
  font-size: 13px;
}
.product-item-img{
  width: 12%;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  /* float: left; */
}
.product-item-img img{
  max-width: 100%;
}
/******************* 优惠 *******************/
.yh-wrap div{
  padding: 1rem 1rem 0 1rem;
}
.yh-wrap img{
  width: 100%;
}
/******************* VIP *******************/
.level-welfare-wrap, .level-require-wrap{
  padding-bottom: 20px;
}
.VipTop-level-sign{
  display: inline-block;
}
.VipTop-level-text{
  position: absolute;
  bottom: -5px;
}
.vip-level-wrap ul li{
  float: left;
  width: 33.33%;
  height: 79px;
}
.vip-level-wrap ul div{
  width: 34px;
  height: 34px;
  border: 1px solid #CCCCCC;
  border-radius: 17px;
  margin-bottom: 9px;
  display: inline-block;
  vertical-align: middle;
}
.vip-level-wrap ul img{
  margin-top: 7px;
}
.vip-level-wrap ul li>p{
  color: #CCCCCC;
  font-size: 13px;
}
.Vip-level-T{
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 15px 0 10px 17px;
  background: #2A2C35;
}
.Vip-level-tips{
  color: #F5BF1B;
  font-size: 13px;
  text-align: left;
  padding: 15px 20px 10px 17px;
  background: #2A2C35;
}
.level-rules-wrap{
  color: #CCCCCC;
  font-size: 12px;
  background: #2A2C35;
  text-align: left;
  padding: 15px 17px 16px 17px;
  margin-bottom: 50px;
}
.level-rules-wrap span{
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 9px;
}
.level-rules-wrap p{
  line-height: 24px;
  /* margin-top: 5px; */
}
.level-rules-wrap p:last-child{
  margin-bottom: 10px;
}
/******************* 个人中心 *******************/
.member-half-circle{
  width: 111%;
  height: 31%;
  border-radius: 50%;
  position: fixed;
  top: -13%;
  background: #661115;
  left: -5.8%;
}
.member-person-info{
  width: 100%;
  position: fixed;
  top: 14%;
}
.member-img{

}
.member-img > img{
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  border: 2px solid #CCCCCC;
}
.member-name{
  color: #ffffff;
  font-size: 16px;
  position: relative;
}
.member-name img{
  position: absolute;
  margin-left: 5px;
  padding-bottom: 5px;
}
.member-level-sign{
  margin: 8px 0 10px 0;
}
.member-integral{
  text-align: center;
}
.member-integral span{
  font-size: 13px;
  color: #ffffff;
}
.member-integral p{
  font-size: 13px;
  color: #666666;
  display: inline-block;
}
.member-total{
  width: 42%;
  float: left;
  text-align: right;
}
.member-useful{
  width: 42%;
  float: right;
  text-align: left;
}